<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Digitalopment">
    <meta name="keywords" content="HTMl, CSS, JavaScript">
    <meta name="description" content="Web Development">
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/lity.min.css">
    <link rel="stylesheet" href="assets/css/hover-box.css">
    <link rel="stylesheet" href="assets/css/animate.min.css" />
    <link rel="stylesheet" href="assets/css/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Form | Digitalopment- Web Development & Digital Marketing Agency</title>
  </head>
  <body>
     
     <video id="new-video" class="video_bg" autoplay loop="loop" muted="true">
      <source src="assets/video/vid_web.mp4" type="video/mp4">
    </video>
    <div class="container">
     <div class="thankyou">
        <h2>You Are Done :)</h2>
        <p> let us check your requirements<br> we will contact you shortly.</p>
        <a href="index.html"><button type="button" class="btn btn-light form-back-btn">Back to Home</button></a>
     </div>
    </div>
   

<!-- END FGOOTER SECTION -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/lity.min.js"></script>
<script src="assets/js/script.js"></script>
<script src="https://www.amcharts.com/lib/3/ammap.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/jquery.isonscreen.min.js"></script>
</body>
</html>
